
@model User

@{ 
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/lib/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/lib/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center"><a asp-controller="Home" asp-action="Index"><img class="logo-img" src="~/lib/assets/images/logo.png" alt="logo"></a><span class="splash-description">Introduce tu informacion de usuario</span></div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input class="form-control form-control-lg" id="username" type="text" placeholder="Nombre de Usuario" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" id="password" type="password" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label">Recuerdame</span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>
                </form>
            </div>
            <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    <a asp-controller="Login" asp-action="Register" class="footer-link">Crear una Cuenta</a>
                </div>
                <div class="card-footer-item card-footer-item-bordered">
                    <a asp-controller="Login" asp-action="ForgetPassword" class="footer-link">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="~/lib/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/lib/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>

</html>