
@model Activity


<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h2 class="card-header">Inserte una nueva Actividad</h2>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="inputText1" class="col-form-label" asp-for="Date">Inserte Fecha</label>
                        <input id="inputText1" asp-for="Date" class="form-control">
                        <span asp-validation-for="Date"></span>
                    </div>
                    <div class="form-group">
                        <label for="inputText2" class="col-form-label" asp-for="AdultExt">Cantidad de adultos extranjeros</label>
                        <input id="inputText2" type="number" class="form-control" asp-for="AdultExt" placeholder="Cantidad">
                        <span asp-validation-for="AdultExt"></span>
                    </div>
                    <div class="form-group">
                        <label for="inputText3" class="col-form-label" asp-for="AdultNac">Cantidad de adultos nacionales</label>
                        <input id="inputText3" type="number" class="form-control" asp-for="AdultNac" placeholder="Cantidad">
                        <span asp-validation-for="AdultNac"></span>
                    </div>
                    <div class="form-group">
                        <label for="inputText4" class="col-form-label" asp-for="ChildExt">Cantidad de niños extranjeros</label>
                        <input id="inputText4" type="number" class="form-control" asp-for="ChildExt" placeholder="Cantidad">
                        <span asp-validation-for="ChildExt"></span>
                    </div>
                    <div class="form-group">
                        <label for="inputText5" class="col-form-label" asp-for="ChildNac">Cantidad de niños nacionales</label>
                        <input id="inputText5" type="number" class="form-control" asp-for="ChildNac" placeholder="Cantidad">
                        <span asp-validation-for="ChildNac"></span>
                    </div>
                    <div class="form-group">
                        <label for="inputText6" class="col-form-label" asp-for="State">Estado</label>
                        <input id="inputText6" asp-for="State" class="form-control">
                        <span asp-validation-for="State"></span>
                    </div>
                    <div class="form-group">
                        <label for="inputText7" class="col-form-label" asp-for="Place">Lugar</label>
                        <input id="inputText7" asp-for="Place" class="form-control">
                        <span asp-validation-for="Place"></span>
                    </div>
                    <div class="form-group">
                        <label for="FormControlTextarea1" asp-for="Comment">Comentario</label>
                        <textarea class="form-control" id="FormControlTextarea1" asp-for="Comment" rows="3"></textarea>
                        <span asp-validation-for="Comment"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


