@{
    ViewData["Title"] = "Personalidad de Evento";
}



@section Breadcrumb{
    <li class="breadcrumb-item"><a asp-controller="EventPersonality" asp-action="All" class="breadcrumb-link">Personalidades de Eventos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Insertar Personalidad</li>
}

@model EventPersonality

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h2 class="card-header">Inserte un nueva personalidad</h2>
            <form method="post" asp-controller="EventPersonality" asp-action="Add">
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputText1" class="col-form-label" asp-for="Name">Nombre</label>
                        <input id="inputText1" asp-for="Name" class="form-control">
                        <span asp-validation-for="Name"></span>
                    </div>
                    <div class="card-footer">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <button class="btn btn-primary" type="submit" asp-route-path="@ViewBag.Path">Insertar</button>
                            <button class="btn btn-danger" asp-controller="EventPersonality" asp-action="All" >Cancelar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


