@model string

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
    <div class="card">
        <div class="card-body">
            <h5 class="text-muted">Total Revenue</h5>
            <div class="metric-value d-inline-block">
                <h1 class="mb-1">$12099</h1>
            </div>
            <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                <span><i class="fa fa-fw fa-arrow-up"></i></span><span>5.86%</span>
            </div>
        </div>

    </div>
</div>

<p>Sparkline: <span class="sparkline">@Model</span></p>
 

@section Scripts{
    <script type="text/javascript">        
       $('.sparkline').sparkline('html', { type:'bar', height:'1000px', barWidth:5 });
    </script>
}