
@section Styles{
    <link rel="stylesheet" href="~/lib/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/assets/vendor/fonts/circular-std/style.css">
    <link rel="stylesheet" href="~/lib/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/lib/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/lib/assets/vendor/full-calendar/css/fullcalendar.css" />
    <link rel="stylesheet" href="~/lib/assets/vendor/full-calendar/css/fullcalendar.print.css" media="print" />
}

@model CalendarViewModel

@section Breadcrumb{

    <li class="breadcrumb-item active" aria-current="page">Eventos</li>
}

<!-- ============================================================== -->
<!-- simple calendar -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <div id='calendar1'></div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end simple calendar -->
<!-- ============================================================== -->

@section Scripts{

    <script type="text/javascript">

        var result = @Html.Raw(Model.DefaultDate);
        var datapoints = [];
        datapoints.push(result)

        var events = @Html.Raw(Model.Events);
        var data = [];
        for (var i = 0; i < events.length; i++) {
            data.push({
                title: events[i].title,
                start: events[i].start,
                backgroundColor: events[i].backgroundColor,
                borderColor: events[i].borderColor,
                url: events[i].url
            });
        }
        console.log(data)

        $(document).ready(function () {

            $('#calendar1').fullCalendar({
                header: {
                    left: 'prev,next hoy',
                    center: 'title',
                    right: ''
                },
                defaultDate: datapoints[0],
                navLinks: true, // can click day/week names to navigate views
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                events: data
            });
        });
    </script>

    <script src="~/lib/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/lib/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/lib/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/lib/assets/vendor/full-calendar/js/moment.min.js"></script>
    <script src="~/lib/assets/vendor/full-calendar/js/fullcalendar.js"></script>
    <script src="~/lib/assets/vendor/full-calendar/js/jquery-ui.min.js"></script>
    <script src="~/lib/assets/libs/js/main-js.js"></script>
}